MIX_ENV=prod
COIN=ETH
DISABLE_EXCHANGE_RATES=true
DISABLE_KNOWN_TOKENS=true
SHOW_PRICE_CHART=false
ENABLE_1559_SUPPORT=true
DISABLE_READ_API=true
DISABLE_WRITE_API=true
ENABLE_TXS_STATS=true
SHOW_TXS_CHART=true
DATABASE_URL=postgresql://{{explorer_postgres_user}}:{{explorer_postgres_password}}@{{explorer_postgres_ip}}:{{explorer_postgres_port}}/explorer?ssl=false
SECRET_KEY_BASE=VTIB3uHDNbvrY0+60ZWgUoUBKDn9ppLR8MI4CpRz4/qLyEFs54ktJfaNT6Z221No
ETHEREUM_JSONRPC_VARIANT=geth
ETHEREUM_JSONRPC_HTTP_URL=http://{{explorer_eth1_source_ip_address}}:{{eth1_rpc_port}}
ETHEREUM_JSONRPC_WS_URL=ws://{{explorer_eth1_source_ip_address}}:{{eth1_ws_rpc_port}}
NETWORK=Ethereum
SUBNETWORK={{eth2_network_name}}
BLOCK_TRANSFORMER=base
POOL_SIZE=15
CHAIN_SPEC_PATH={{execution_explorer_genesis_cont_path}}
PORT={{public_execution_explorer}}
{% if explorer_first_block is defined %}
FIRST_BLOCK={{explorer_first_block}}
TRACE_FIRST_BLOCK={{explorer_first_block}}
{% endif %}